.header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

/* hide scrollbar for Chrome, safari and opera */
.header::-webkit-scrollbar {
  display: none;
}

.header {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
}
.header__icon2 {
  display: none;
  cursor: pointer;
  width: 100px;
}

.header__icon > .MuiSvgIcon-root {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header__icon2 > .MuiSvgIcon-root {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-size: small;
}
.header__icon:hover > p {
  display: inline-flex;
}

.header__icon--active > p {
  display: inline-flex;
}

.search__bar {
  min-width: 70px;
  background-color: white;
  color: grey;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.search__bar > input {
  outline-width: 0;
  border: none;
  width: 300px;
  min-width: 100px;
}

.search__bar > span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search__bar > span:hover {
  transform: scale(1.3);
}

.header > img {
  object-fit: contain;
  height: 100px;
  margin-right: 40px;
}

@media (max-width: 900px) {
  .search__bar > input {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .header__icon {
    display: none;
  }

  .header__icon2 {
    display: inline;
  }

  .header > img {
    height: 100px;
    margin-right: 20px;
  }

  .search__bar {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .search__bar > input {
    width: 110px;
  }
}
